@import 
'../../../../global/scss/Fonts.scss',
'../../../../global/scss/Colors.scss';

// MAIN HEADER NAV BAR //
.header {
    position: fixed;
    z-index: 99999;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height:4rem;
    margin:0rem 1.25rem;
    }
