@import 
'../global/scss/Fonts.scss',
'../global//scss/Colors.scss';

.main {
  display: flex;
  justify-content: center;
  .s2{
    background: white;
    height:150vh;
    width: 50%;
    border-radius:.45rem;
  }
}