@import 
'../global/scss/Fonts.scss',
'../global/scss/Colors.scss';

.main {
  display: flex;
  justify-content: center;
  .s1{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top:18rem;
      text-align: center;
      width:100rem;
      height: 10rem;
      padding: 1rem 0;
      h1{
        width: 18rem;
        font-size:1.15rem;
        font-family: book;
        line-height: 1.75rem;
      }
  }
}